* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --edges: hsl(217, 19%, 35%);
    --arrow: hsl(214, 17%, 51%);
    --greyish: hsl(212, 23%, 69%);
    --background: hsl(210, 46%, 95%);

}



xxbody::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url("./design/desktop-design.jpg") no-repeat;
    opacity: 0.3;
    z-index: -1;
    animation: myanim 1s alternate infinite ease;
}

@keyframes myanim {

    100% {
        opacity: .9;
    }

}

xxbody>* {
    opacity: 0.35;
}

.attribution {
    display: none;
    font-size: 11px;
    flex: 0 0 2%;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

html {
    height: 100%;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

body {
    background: var(--background);

    display: flex;

    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width:100%;


}

.container {
    max-width: 730px;
      display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    margin:0 5%;
    
}

.mainpic {
    content: "";
    height: 100%;
    background-image: url("./images/drawers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1 0 39%;
}

article {
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5%;
   background-color: white;
    margin-left:.45rem;
  
}

.header {
    font-weight: 600;
    font-size: 1.6rem;
    width: 95%;
    line-height: 130%;
    margin-top: -.45rem;
    letter-spacing: -0.2px;
    opacity:.8;
}

p {
    margin-top: 1rem;
opacity:.5;

}

.credits {
margin-top:2rem;
    width: 100%;
     display: flex;
    flex-direction: row;
    position: relative;
user-select: none;
}

.picture {
    content: "";
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-image: url("./images/avatar-michelle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nameanddate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left:1rem;
    opacity:.6;
}

.nameanddate div:nth-child(1) {
    font-weight: 600;
}

.nameanddate div:nth-child(2) {
    font-weight: 600;
    opacity:.5;
}

.sharebutton {
    margin-left: auto;
    content: "";
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-image: url("./images/icon-share.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
  
}

.sharebutton:hover,
.sharebutton:focus {
    filter: brightness(120%);
}

.socialmedia {
    position: absolute;

    height: 120%;
    top: -60px;
    left: 60%;
    width: fit-content;

    content: "";
    background-color: var(--edges);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    transition: opacity .3s ease-in-out;
}
.socialmedia div:hover{
    opacity:.5;
}

.socialmedia div {
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 1rem;
    margin-right: 1rem;

    width: 1.5rem;
    height: 1.5rem;
}

.socialmedia div:nth-child(1) {
    color: var(--greyish);
    text-transform: uppercase;
    width: fit-content;
    letter-spacing: .3rem;
    margin-left: 2rem;

}

.socialmedia div:nth-child(2) {
    background-image: url("/images/icon-facebook.svg");
}

.socialmedia div:nth-child(4) {
    background-image: url("/images/icon-pinterest.svg");
}

.socialmedia div:nth-child(3) {
    background-image: url("/images/icon-twitter.svg");
}


.socialmedia label {
    display: none;
    filter: brightness(2);
    background-image: url("/images/icon-share.svg");
    width:2rem;
    height:2rem;
    background-size:contain;
    margin-left:auto;
    margin-right:5px;
}

.socialmedia div:nth-child(6) {
    position: absolute;
    left: 45%;
    align-self: flex-end;
    transform: translateY(50%) rotate(45deg);
    z-index: 4;
    content: "";
    background-color: var(--edges);
}

.socialmedia div:nth-child(6):hover {
    opacity: 1;
}

#checkbox{
    display:none;
}


@media (max-width:800px) {

    .socialmedia {
      
    
        height: 100%;
        top: 0;
        left: 0;
        width: 100%;
        justify-content: flex-start;;

    }


    .socialmedia label {
        display: block;
       
    }
    .socialmedia div:nth-child(6) {
        display:none;
    }

    .socialmedia div:nth-child(1) {
        display:none;
    }
  
}



@media (max-width:580px) {

    body {
        justify-content:flex-start;
        height:auto;
        


    }

.container{
    flex-direction: column;
    justify-content: flex-start;
    height:100vh;
    
}
.mainpic{


    width:100%;
    flex:1;
    
}
.header{
  height:30rem;
  flex:1;
  text-align:center;
}

}